<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <menu id="application" title="msg://com.company.xvspellconverter/menu.application.title" opened="true">
        <item view="User.list" title="msg://Lista de usuários"/>
        <item view="Word.list" title="msg://Lista de palavras"/>
        <item view="AnonymousMainViewTopMenu" title="Anonymous"/>
    </menu>

</menu-config>